<% cache @product do %>
  <h1><%= @product.name %></h1>
  <%= @product.description %>
  <%= image_tag @product.featured_image, width: 100, height: 100 if @product.featured_image.attached? %>
<% end %>

<%= render "inventory", product: @product %>

<%= link_to t(".back"),  products_path %>

<% if authenticated? %>
  <%= link_to t(".edit"), edit_product_path(@product) %>
  <%= button_to t(".destroy"), @product, method: :delete, data: { turbo_confirm: t(".are_you_sure") } %>
<% end %>
